@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
body{
	margin:0;
	padding:0;
	background-size:cover;
background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('bg4.jpg');



}
.Heading{
	padding:20px;
	position: absolute;
	text-align:center;
	padding-left: 45%;
	color:whitesmoke;
	font-size: 24px;
}

.imgg{
height:250px;
margin-top:100px;
border-radius: 8px;
overflow: hidden;


}
.cont {
	max-width:400px;
	margin:initial;
	position:relative;
	min-height: 1px;
	overflow-x:auto ;
	overflow-y:hidden;
	padding-right: 10px;
}
li{
list-style-type:none;
color:white;
text-align:center;
background-color: #ffa500;
border-radius: 8px;
}

.topnav {
	overflow: hidden;
	background-color:#323030;
	width:100%;
	height:10%;
	
}

.topnav a{
	float: left;
	color: white;
	padding: 20px 17px;
	text-decoration: none;
	font-size: 15px;
	transition:0.6s;
}
.topnav a:hover{
	background-color:#ffa500;
	color:white;
}
.topnav-right{
	float: right;
}



	
