{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width">
    <title>My cart</title>
    <link rel="stylesheet" href="{% static 'cartstyle.css' %}">
    </head>
    <body>
        <div class="topnav">
            <a href="/"><h4>Home</h4></a>
            <a href="con.html"><h4>Contact us</h4></a>
            <div class="topnav-right">
                    {% if user.is_authenticated %}
                    <a> <h4>Hello, {{user.username}} </h4></a>
    
                  <a href="accounts/logout"><h4>Logout</h4></a>
                  
                  {% else %}	
                  <a href="accounts/register"><h4>Register</h4></a>
                  
                  <a href="accounts/login"><h4>Login</h4></a>
                  {%endif%}
              
  
            </div>
            
      </div>
      <center><h1>Your Carts</h1></center>
       <table>
		<tbody>
			<tr>
				{% for i in l %}
			<td>
				<div>     
			<a href=" {% url 'image' i.id %}"><img class="imgg" src="{{ i.img.url }}"></a>
            <li>{{ i.name }}</li><br>
            <form method="POST">
                {% csrf_token %}
                <a class="bo" href="book">Book now</a><br> 
             <input class="del" type="submit" value="remove">
             <input type="hidden" name="keyy" value="{{i.id }}">
            </form> 
				</div>
		</td>
        {% endfor %}
			</tr>
		</tbody>
    </table>
    </body>
</html>